* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px
}

body {
  background-color: #D0D0D0;
  width: 100%;
}

section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: inline-flex;
  flex-flow: row wrap;
  background-color: #FFF;
}

a img:hover {
  -webkit-filter: brightness(2);
}

h1 {
  font-size: 2.5vw;
  color:#FFF;
}

img {
  margin-bottom: -4px;
  width: 20vw;
}

p {
  font-size: 1vw;
  color: #FFF;
}

.image__button-resume {
  margin: 25px 0 0 40px;
  width: 7vw;
  height: 3vw;
}

.image__button-contact {
  margin: 25px 0 0 40px;
  width: 7vw;
  height: 3vw;
}

.h1__name {
  margin: 30px 0 0 40px;
}

.p__info {
  font-weight: 300;
  margin: 20px 0 0 40px;
}

.picture {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/me1.jpg");
  background-repeat: no-repeat;
  background-size: 40vw;
  width:40vw;
}

.image__leftarrow {
  width: 5vw;
  
}

.image__picture {
  width: 40vw;
}

.image__rightarrow {
  width: 5vw;
}

.article__main {
  background-image: url("images/main.jpeg");
  background-size: 40vw;
  width: 40vw;
}

.section__blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  width: 60vw; 
}

.section__picture {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 700px) {
  section {
    flex-flow: column wrap;
  }

  img {
    width: 50vw;
  }
  .article__main {
    width: 100vw;
    margin-top: -200px;
    background-size: 115vw;
    background-repeat: no-repeat;
  }
  .contact {
    order: 2;
    width: 100vw;
  }

  .h1__name {
    text-align: left;
    margin: 8px 0 0 40px;
    font-size: 7vw;
  }
  .image__button-contact {
    margin:35px 0 40px 10px;
    width: 28vw;
    height: 8vh;
  }

  .image__button-resume {
    margin:35px 0 40px 40px;
    width: 28vw;
    height: 8vh;
  }

  .image__contact {
    width: 100vw;
  }

  .image__picture {
    width: 100vw;
  }

  .p__info {
    text-align: left;
    margin: 15px 0 0 40px;
    font-size: 3vw;
  }

  .picture {
    background-size: 100vw;
    height: 75vh;
    width: 100vw;
  }

  .section__blocks {
    width: 100vw;
  }

  .section_main {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
  }
  
  .section__picture {
    order: -1;
  }
}

@media screen and (max-width: 500px) {
  .image__button-contact {
    margin:35px 0 40px 10px;
    width: 28vw;
    height: 4vh;
  }

  .image__button-resume {
    margin:35px 0 40px 40px;
    width: 28vw;
    height: 4vh;
  }

}