* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px
}

body {
  background-color: #D0D0D0;
  width: 100%;
}

section {
  display: inline-flex;
  flex-flow: row wrap;
  background-color: #FFF;
}

h1 {
  font-size: 2.5vw;
  color:#FFF;
}

p {
  font-size: 1vw;
  color: #FFF;
}

img {
  margin-bottom: -4px;
  width: 20vw;
}

a:hover{
  opacity: 0.4;
}

.arrow-container{
  margin: 0;
  width: 100%;
  position: relative;
  top: 50%;
}

.image__leftarrow {
  position: absolute;
  left: 0;
  height: 100%;
  width: 110px;
  opacity: 0;
}

.image__rightarrow {
  position: absolute;
  right: 0;
  height: 100%;
  width: 110px;
  opacity: 0;
}

.image__button-resume {
  margin: 25px 0 0 40px;
  width: 7vw;
  height: 3vw;
}

.image__button-contact {
  margin: 25px 0 0 40px;
  width: 7vw;
  height: 3vw;
}

.h1__name {
  margin: 30px 0 0 40px;
}

.p__info {
  font-weight: 300;
  margin: 20px 0 0 40px;
}

.picture {
  position: relative;
  width:40vw;
}


.image__picture {
  width: 40vw;
}

.article__main {
  background-image: url("images/main.png");
  background-repeat: no-repeat;
  background-size: 100vh;
  width: 40vw;
}

.section__blocks {
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
}

.section__picture {
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 700px) {
  section {
    flex-flow: column wrap;
  }

  img {
    width: 50vw;
  }

  .h1__name {
    text-align: left;
    margin:35px 0 0 40px;
    font-size: 7vw;
  }

  .p__info {
    text-align: left;
    margin:35px 0 0 40px;
    font-size: 3vw;
  }
  
  .image__button-resume {
    margin:35px 0 40px 40px;
    width: 28vw;
    height: 8vh;
  }

  .image__button-contact {
    margin:35px 0 40px 10px;
    width: 28vw;
    height: 8vh;
  }

  .section_main {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
  }

  .section__blocks {
    width: 100vw;

  }
  .article__main {
    width: 100vw;
    margin-top: -200px;
  }

  .section__picture {
    order: -1;
  }

  .picture {
    position: inherit;
    width: 100vw;
  }

  .image__picture {
    width: 100vw;
  }
  .contact {
    order: 2;
    width: 100vw;
  }
  .image__contact {
    width: 100vw;
  }
}

@media screen and (max-width: 400px) {
  .image__button-resume {
    margin:35px 0 40px 40px;
    width: 28vw;
    height: 4vh;
  }

  .image__button-contact {
    margin:35px 0 40px 10px;
    width: 28vw;
    height: 4vh;
  }
}